# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Archives/Archives/nbproject/private/
/Archives/Archives/build/
/FileReader-and-BufferedReader/nbproject/private/
/FileReader-and-BufferedReader/build/
/Archives/FileWriter-and-BufferedWriter/nbproject/private/
/Archives/FileWriter-and-BufferedWriter/build/
/Archives/manipulating-folders-with-file/nbproject/private/
/Archives/manipulating-folders-with-file/build/
/Archives/Information-way-of-archive/nbproject/private/
/Archives/Information-way-of-archive/build/
/Archives/Exercise/nbproject/private/
/Archives/Exercise/build/
/Interfaces/Interfaces/nbproject/private/
/Interfaces/Interfaces/build/
/Interfaces/Interfaces/dist/
/Interfaces/fixation-exercise/nbproject/private/
/Interfaces/fixation-exercise/build/
/Interfaces/Inherit-Vs-FulfillContract/nbproject/private/
/Interfaces/Inherit-Vs-FulfillContract/build/
/Interfaces/Multiple-Inheritance/nbproject/private/
/Interfaces/Multiple-Inheritance/build/
/Generics, Set, Map/IntrodutionGenerics/nbproject/private/
/Generics, Set, Map/IntrodutionGenerics/build/
/Generics, Set, Map/DelimitedGenerics/nbproject/private/
/Generics, Set, Map/DelimitedGenerics/build/
/Generics, Set, Map/Wildcard-Types/nbproject/private/
/Generics, Set, Map/Wildcard-Types/build/
/Generics, Set, Map/Bounded-Wildcards/nbproject/private/
/Generics, Set, Map/Bounded-Wildcards/build/
/Generics, Set, Map/Bounded-Wildcards-Problem2/nbproject/private/
/Generics, Set, Map/Bounded-Wildcards-Problem3/nbproject/private/
/Generics, Set, Map/Bounded-Wildcards-Problem3/build/
/Generics, Set, Map/HashCodeAndEquals/nbproject/private/
/Generics, Set, Map/HashcodeAndEqualss/nbproject/private/
/Generics, Set, Map/HashcodeAndEqualss/build/
/Generics, Set, Map/Set/nbproject/private/
/Generics, Set, Map/Set/build/
/Generics, Set, Map/SetProgram/nbproject/private/
/Generics, Set, Map/SetProgram/build/
/Generics, Set, Map/EqualityWithSet/nbproject/private/
/Generics, Set, Map/EqualityWithSet/build/
/Generics, Set, Map/ComparingElementsWithTreeSet/nbproject/private/
/Generics, Set, Map/ComparingElementsWithTreeSet/build/
/Generics, Set, Map/ExerciseWithSet/nbproject/private/
/Generics, Set, Map/ExerciseWithSet/build/
/Generics, Set, Map/Exercise-Set/nbproject/private/
/Generics, Set, Map/Exercise-Set/build/
/Generics, Set, Map/Set-Fixation-Exercise/nbproject/private/
/Generics, Set, Map/Set-Fixation-Exercise/build/
/Generics, Set, Map/Map/nbproject/private/
/Generics, Set, Map/Map/build/
/Generics, Set, Map/Map2/nbproject/private/
/Generics, Set, Map/Map2/build/
/Generics, Set, Map/Exercise-Map/nbproject/private/
/Generics, Set, Map/Exercise-Map/build/
/Functional Programming And Lambda Expressions/Comparator/nbproject/private/
/Functional Programming And Lambda Expressions/Comparator/build/
/Functional Programming And Lambda Expressions/Experience-With-Comparator/nbproject/private/
/Functional Programming And Lambda Expressions/Experience-With-Comparator/build/
/Functional Programming And Lambda Expressions/Functional-Programming/nbproject/private/
/Functional Programming And Lambda Expressions/Functional-Programming/build/
/Functional Programming And Lambda Expressions/Functional-Interface/nbproject/private/
/Functional Programming And Lambda Expressions/Interface-Predicate/nbproject/private/
/Functional Programming And Lambda Expressions/Interface-Predicate/build/
/Functional Programming And Lambda Expressions/Consumer/nbproject/private/
/Functional Programming And Lambda Expressions/Consumer/build/
/Functional Programming And Lambda Expressions/Function-Interface/nbproject/private/
/Functional Programming And Lambda Expressions/Function-Interface/build/
/Functional Programming And Lambda Expressions/Function-As-A-Parameter/nbproject/private/
/Functional Programming And Lambda Expressions/Function-As-A-Parameter/build/
/Functional Programming And Lambda Expressions/Stream_/nbproject/private/
/Functional Programming And Lambda Expressions/Stream_/build/
/Functional Programming And Lambda Expressions/Pipeline_/nbproject/private/
/Functional Programming And Lambda Expressions/Pipeline_/build/
/Functional Programming And Lambda Expressions/ExerciseStream/nbproject/private/
/Functional Programming And Lambda Expressions/ExerciseStream/build/
/Functional Programming And Lambda Expressions/Fixation-Exercise/nbproject/private/
/Functional Programming And Lambda Expressions/Fixation-Exercise/build/
/JDBC/Jdbc1/nbproject/private/
/JDBC/Jdbc1/build/
/JDBC/Jdbc1/dist/
/JDBC/Recover-Data/nbproject/private/
/JDBC/Recover-Data/build/
/JDBC/Insert-Data/nbproject/private/
/JDBC/Insert-Data/build/